@import 'src/colors'
@import 'src/fonts'
@import 'src/screen'

$contentBox: 100%
$containerBox: 1525px

body 
    margin: 0
    padding: 0
    color: $black
    font-size: 16px
    background-color: $white
    font-family: KlavikaWebBasicLight
    


.wrapper 
    width: $contentBox
    height: 100vh
    display: flex
    flex-direction: column
    margin: 0 auto
    padding: 0

.button
    padding: .5em
    display: inline-block
    background-color: rgba($white, 0)
    border: solid 1px $white
    color: $white
    text-decoration: none
    
    &:hover
        background-color: rgba($white, 0)

.container 
    width: $contentBox
    overflow: hidden
    display: block
    margin: 0 auto

    @media screen and (min-width: $tablet)
        width: $mobile
        
    @media screen and (min-width: $small-screen)
        width: $tablet

    @media screen and (min-width: $medium-screen)
        width: $small-screen

.header 
    width: $contentBox
    height: 450px
    display: block
    padding: 1em 0
    margin: 0

    @media screen and (min-width: $tablet)
        padding: 3em 0

    @media screen and (min-width: $small-screen)
        padding: 12em 0

.hero 
    background-image: url(../../images/background-img.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.hero-content
    width: 100%
    display: grid
    grid-template-columns: 100%
    gap: 1.2em

    @media screen and (min-width: $small-screen)
        grid-template-columns: 50% 50%
        gap: 0
        justify-items: center
        

.card-item 
    width: 325px
    margin: 0 auto
    color: $white
    padding: 20px
    font-size: 16px
    display: block
    background-color: rgba($light-blue, .8)

    @media screen and (min-width: $medium-screen)
        width: 450px

    h4 
        margin: 3px 0

    p 
        margin: 0 0 20px 0
        padding: 0

.main-content 
    width: $contentBox
    flex: 1

.content-box
    padding: 30px 25px
    border: 0

    &:last-child 
        border-top: solid 1px $black
        margin-top: 1.2em

    .button 
        background-color: rgba($white, 0)
        border: solid 1px $light-blue
        color: $light-blue


.social-icons 
    width: 75%
    margin: 0 auto
    padding: 45px
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: center

    .icon 
        padding: 10px

.footer
    width: $contentBox
    display: block
    background-color: $orange

.footer-menu
    padding: 15px 0
    display: flex
    flex-wrap: nowrap
    align-items: center
    color: $white

    .menu-item 
        padding: 0 15px
        display: none

        &:first-child
            display: inline-block

        @media screen and (min-width: $small-screen)
            display: block
        